<div class="container">
    <h1>Form Example</h1>
    <form class="example-form">
        
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Cars</mat-label>
            <select matNativeControl required>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </mat-form-field>

      </form>

</div>